
/* Footer */
.footer{
	background-color: #E9E9E9;
	margin-top: 10px;
	color: #000000;
	padding: 12px;
    text-align: center;
	margin-bottom: 30px;
}

.contact-icon{
	color: #000000;
	padding: 7px;
}

.contact-icon:hover{
	color: #a6a19a;
}

.footer-description{
	margin: 0;
	font-size: 12px;
	font-weight: 100;
}